# This is the site's enviroment, the settings for this enviroment are stored in
# the config/settings.yml file
SetEnv SITE_ENV "development"

<IfModule mod_rewrite.c>
      Options +FollowSymlinks
      Options +Indexes
      RewriteEngine on
      #RewriteBase /plus3network_master/www/ # if your app is in a subfolder

      # test string is a valid files
      RewriteCond %{SCRIPT_FILENAME} !-f
      # test string is a valid directory
      RewriteCond %{SCRIPT_FILENAME} !-d

	    RewriteRule ^(.*)$   index.php?/$1    [NC,L]
</IfModule>